<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/recipes" method="post">
      <label for="name">Recipe Name: </label>
      <input type="text" name="recipe[name]" id="name">
      <label for="ingredients">Ingredients: </label>
      <input type="text" name="recipe[ingredients]" id="ingredients">
      <label for="cook_time">Cook time: </label>
      <input type="text" name="recipe[cook_time]" id="cook_time">
    </form>

  </body>
</html>
